opencv-python-headless
pip==24.0
Pillow
numpy
tensorflow
object-detection-0.1
matplotlib==3.2
protobuf
avro-python3
apache-beam
pillow
lxml
matplotlib
contextlib2
tf-slim
six
pycocotools
lvis
scipy
pandas
tf-models-official
tensorflow_io
keras
pyparsing==2.4.7
